---
layout: base
---
<main>
<div class="meta-header">
    <img src="{{ main_image }}" class="meta-main-image">
  <div class="meta-header-inner">
    <h1 class="meta-title">{{ title }} ({{ period }})</h1>
    <h2 class="meta-subtitle">{{ subtitle }}</h2>
  </div>
</div>

<section>{{content}}</section>
