---
layout: base
---
<main>
<div class="project-header">
    <img src="{{ main_image }}" class="project-main-image">
  <div class="project-header-inner">
    <h1 class="project-title">{{ title }}</h1>
    <h2 class="project-credits">{{ credits }}</h2>
  </div>
</div>

<section>{{content}}</section>

<div class="masonry-grid">
  {% for image in images %}
    <div class="masonry-brick">
      <img class="masonry-image" src="{{ image }}" alt="{{ title }}">
    </div>
  {% endfor %}
</div>


<div class="project-other">
<section>
<h1>Other Projects</h1>
<div class="figure-grid">
{% for project in collections.project %}
{% if project.data.title != title %}
<a class="figure-link" href="{{ project.url }}">
  <figure>
    <img
      class="project-thumb"
      src="{{ project.data.thumb_image }}"
      alt="{{ project.data.title }}"
    />
    <figcaption>
      <p class="title">{{ project.data.title }}</p>
      <p class="subtitle">{{ project.data.subtitle }}</p>
    </figcaption>
  </figure>
</a>
{% endif %}
{% endfor %}
</div>
</section>
</div>

</main>